In [ ]:
import pandas as pd
import numpy as np
import string
import tensorflow as tf
import matplotlib.pyplot as plt
from tensorflow import keras
from tensorflow.keras import layers

# augmen

In [ ]:
dataset = pd.read_csv("/content/IndonesiaHS_ing.csv", encoding='latin')
dataset

       Unnamed: 0                                           stemming  HS
0               0  Guys trying to track my attention then careles...   1
1               1  rt to use it late, you know, it's crazy, I'm s...   0
2               2  41 Sometimes you think believing in God falls,...   0
3               3                         Use it I know slanted eyes   0
4               4             to use the idiot infidel tadpoles haha   1
...           ...                                                ...  ..
13164       13164       in order to speak ndasmu arrogant like a dog   1
13165       13165                         use a comfortable mattress   0
13166       13166         use caution mute bored duh xf0 x9f x98 xaa   0
13167       13167  use use use real bombs easy to detect grave bo...   0
13168       13168              Use the photo there, yes, camel warts   1

[13169 rows x 3 columns]

In [ ]:
dataset = dataset.drop(['Unnamed: 0'], axis=1)

In [ ]:
dataset_hs = dataset[(dataset.HS == 1)]
dataset_nohs = dataset[(dataset.HS == 0)]

In [ ]:
!pip install textaugment

In [ ]:
import nltk
nltk.download('averaged_perceptron_tagger')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')

In [ ]:
pip install nlpaug

In [ ]:
import nlpaug.augmenter.word as naw
import nlpaug.augmenter.sentence as nas
import nlpaug.flow as nafc

from nlpaug.util import Action

In [ ]:
from textaugment import EDA
b = EDA()

## hatespeech

In [ ]:
dataset_hs

                                                stemming  HS
0      Guys trying to track my attention then careles...   1
4                 to use the idiot infidel tadpoles haha   1
5      use ya bani table cloth friends xf0 x9f x98 x8...   1
10     I use my finger to measure the guts of the coc...   1
11     use use use use as a sissy can shame 2 use the...   1
...                                                  ...  ..
13157  using the wrong recipe, the governor, Pakkk, t...   1
13161                 fuck people to make me rough mouth   1
13162  regional police chief barbaric pig stupid brai...   1
13164       in order to speak ndasmu arrogant like a dog   1
13168              Use the photo there, yes, camel warts   1

[5561 rows x 2 columns]

In [ ]:
b.random_insertion(dataset_hs['stemming'][0])

'Guys trying pass over to track my attention then carelessly pay attention to me especially for basic stupid guys'

In [ ]:
#dataset_hs = dataset_valid['berita']

In [ ]:
dataset_hs.reset_index()

      index                                           stemming  HS
0         0  Guys trying to track my attention then careles...   1
1         4             to use the idiot infidel tadpoles haha   1
2         5  use ya bani table cloth friends xf0 x9f x98 x8...   1
3        10  I use my finger to measure the guts of the coc...   1
4        11  use use use use as a sissy can shame 2 use the...   1
...     ...                                                ...  ..
5556  13157  using the wrong recipe, the governor, Pakkk, t...   1
5557  13161                 fuck people to make me rough mouth   1
5558  13162  regional police chief barbaric pig stupid brai...   1
5559  13164       in order to speak ndasmu arrogant like a dog   1
5560  13168              Use the photo there, yes, camel warts   1

[5561 rows x 3 columns]

In [ ]:
dataset_hs = dataset_hs.reset_index()

In [ ]:
random_swap = []
for i in range(len(dataset_hs)):
  text = b.random_swap(dataset_hs['stemming'][i])
  random_swap.append(text)

In [ ]:
len(random_swap)

In [ ]:
random_deletion = []
for i in range(len(dataset_hs)):
  text = b.random_deletion(dataset_hs['stemming'][i])
  random_deletion.append(text)

In [ ]:
aug = naw.SynonymAug(aug_src='wordnet')

synonym_list =[]
for i in range(len(dataset_hs)):
  text = aug.augment(dataset_hs['stemming'][i])
  synonym_list.append(text)

In [ ]:
aug = naw.RandomWordAug(action='swap')

randomwordaugment = []
for i in range(len(dataset_hs)):
    text = aug.augment(dataset_hs['stemming'][i])
    randomwordaugment.append(text)

In [ ]:
import csv

In [ ]:
df = pd.DataFrame(random_swap)
random_swap = df.values.tolist()

df = pd.DataFrame(random_deletion)
random_deletion = df.values.tolist()

df = pd.DataFrame(synonym_list)
synonymlist = df.values.tolist()

df = pd.DataFrame(randomwordaugment)
randomwordaugment = df.values.tolist()

with open('dataset_hs.csv', 'w') as f: 
    write = csv.writer(f) 
    write.writerows(random_swap)
    write.writerows(random_deletion)
    write.writerows(synonym_list)
    write.writerows(randomwordaugment)

In [ ]:
dataset_test = pd.read_csv("dataset_hs.csv")
len(dataset_test)

22243

## non hate speech

In [ ]:
dataset_nohs = dataset_nohs.reset_index()

In [ ]:
dataset_nohs

      index                                           stemming  HS
0         1  rt to use it late, you know, it's crazy, I'm s...   0
1         2  41 Sometimes you think believing in God falls,...   0
2         3                         Use it I know slanted eyes   0
3         6  the declaration of electing regional heads in ...   0
4         7  I finished re-watching Aldnoah Zero Kampret 2,...   0
...     ...                                                ...  ..
7603  13160  cultural nostalgia nos tala gia I miss sometim...   0
7604  13163  Jews, Christians, Muslims, Gathering on the Ni...   0
7605  13165                         use a comfortable mattress   0
7606  13166         use caution mute bored duh xf0 x9f x98 xaa   0
7607  13167  use use use real bombs easy to detect grave bo...   0

[7608 rows x 3 columns]

In [ ]:
dataset_nohs['stemming'] = dataset_nohs['stemming'].astype('str')

In [ ]:
hrandom_swap = []
for i in range(len(dataset_nohs)):
  text = b.random_swap(dataset_nohs['stemming'][i])
  hrandom_swap.append(text)

In [ ]:
hrandom_deletion = []
for i in range(len(dataset_nohs)):
  text = b.random_swap(dataset_nohs['stemming'][i])
  hrandom_deletion.append(text)

In [ ]:
aug = naw.SynonymAug(aug_src='wordnet')

hsynonym_list =[]
for i in range(len(dataset_nohs)):
  text = aug.augment(dataset_nohs['stemming'][i])
  hsynonym_list.append(text)

In [ ]:
aug = naw.RandomWordAug(action='swap')

hrandomwordaugment = []
for i in range(len(dataset_nohs)):
  text = aug.augment(dataset_nohs['stemming'][i])
  hrandomwordaugment.append(text)

In [ ]:
df = pd.DataFrame(hrandom_swap)
hrandom_swap = df.values.tolist()

df = pd.DataFrame(hrandom_deletion)
hrandom_deletion = df.values.tolist()

df = pd.DataFrame(hsynonym_list)
hsynonymlist = df.values.tolist()

df = pd.DataFrame(hrandomwordaugment)
hrandomwordaugment = df.values.tolist()

with open('dataset_nohs.csv', 'w') as f: 
    write = csv.writer(f) 
    write.writerows(hrandom_swap)
    write.writerows(hrandom_deletion)
    write.writerows(hsynonym_list)
    write.writerows(hrandomwordaugment)

In [ ]:
hdataset_test = pd.read_csv("dataset_nohs.csv")
len(hdataset_test)

30431